body {
	background: url(images/california.jpg) no-repeat center;
	background-size: cover;
	background-attachment: fixed;
	font-family: 'Spinnaker', sans-serif;
	font-weight: 500;
}

header {
	border-bottom: 1px solid white;
	background-color: #373737;
	padding: 10px;
}

h1 {
	font-size: 65px;
	margin: 5px;
	color: white;
	text-align: center;
}

.hidden {
	display: none;
}

.page{
	background-color: rgba(196, 196, 196, 0.8);
	padding: 20px;
}

/*First Page Styles*/
.page-1 {
	text-align: center;
	margin-top: 15%;
}

.overall-question {
	margin: 5px;
	font-size: 26px;
}

.start {
	margin: 8px;
	border-radius: 8px;
	background-color: #548F8B;
	color: white;
	font-size: 25px;
	padding: 5px;
	cursor: pointer;
}

.start:hover {
	background-color: #373737;
}

/*Second Page Styles*/
.page-2 {
	margin: 4% auto;
}


form {
	font-size: 18px;
	background-color: #C4C4C4;
	padding: 20px;
	margin: auto;
}

.score-container {
	text-align: center;
}

.score {
	background-color: #548F8B;
	border-radius: 8px;
	color: white;
	padding: 5px;
	margin: auto;
	width: 50%;
	font-size: 20px;
}

.question-num {
	font-size: 30px;
	padding: 5px;
	margin: auto;
	border-bottom: solid thin lightgrey;
	text-align: center;
}

.current-question {
	font-size: 16px;
	padding: 5px;
	margin: auto;
	text-align: center;
}

.question-line {
	margin: 0px;
	padding: 10px;
	text-align: center;
}

fieldset {
	border: none;
	padding: 15px;
}

input[type=radio]:checked + label{
	color: #548F8B;
}

.radio-button{
	display: block;
	margin: 10px 0;
}

.radio-group input, .radio-group label {
	cursor: pointer;
}

.radio-group input {
	width: 18px;
	height: 18px;
	margin: 1%;
	vertical-align: middle;
}

.buttons {
	text-align: center;
}

.submission{
	margin: 10px auto;
	background-color: white;
	color: #548F8B;
	border-radius: 8px;
	padding: 5px;
	cursor: pointer;
	font-size: 25px;
	display: inline-block;
}

.submission:hover {
	background-color: lightgrey;
}

.incorrect {
	text-decoration: line-through;
	color: red;
}

.correct {
	color: white;
	background-color: #28a428;
	padding: 5px;
	border-radius: 8px;
	display: inline;
}


/*Third Page Styles*/
.page-3 {
	margin-top: 10%;
	text-align: center;
}

.final-score {
	font-size: 30px;
	margin: auto;
}

.results {
	background-color: #C4C4C4;
	padding: 20px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	margin-bottom: 10px;
}

.results h2 {
	font-size: 34px;
	margin: auto;
}

.results p {
	font-size: 20px;
	margin: 5px;
}

@media only screen and (max-width: 640px) {
	h1 {
	font-size: 30px;
	}

	input[type="radio"] {
	margin: 10px;
	}

	.score {
	font-size: 18px;
	}
}
